
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --electric-indigo: #6A00F4;
  --dark-electric-indigo: #2F07AB;
  --small-screen: 375px;
  --fashion-fuchsia: #E500A4;
  --dark-fashion-fuchsia: #A00099;
} 

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
}

.todo {
  max-width: var(--small-screen);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: grid;
  grid-template-columns: 10fr 2fr;
}

.todo > input {
  outline: 0px;
  border: 0px;
  background-color: rgba(0,0,0,0);
  width: 100%;
  color: var(--electric-indigo);
  padding: 1em;
  font-weight: 400;
}

.todos {
 display: grid;
 grid-auto-rows: auto;
 gap: 1em;
 width: 100%;
 max-width: var(--small-screen);
 background-color: rgba(255,255,255,1);
 padding: 1em;
 border-radius: 1em;
 text-align: center;
}

.btn,.todos__addbtn,.todos__removebtn,.todos__donebtn {
  background-color: var(--electric-indigo);
  padding: 1em 2em;
  border: 1px solid var(--electric-indigo);
  color: white;
  border-radius: 0.5em;
  cursor: pointer;
}

.btn:hover,.todos__addbtn:hover,.todos__donebtn:hover {
  background-color: var(--dark-electric-indigo);
  border-color: var(--dark-electric-indigo);
}

.todos__btns {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  gap: 0.5em;
}

.todos__addbtn {
  width: 100%;
}

.addbtn__text {
  font-weight: 700;
}

.todos__removebtn,.todos__donebtn {
  padding: 0.5em 0.5em;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 9999px;
}

.todos__removebtn {
  background-color: var(--fashion-fuchsia);
  border-color: var(--fashion-fuchsia);
}

.todos__removebtn:hover {
  background-color: var(--dark-fashion-fuchsia);
  border-color: var(--dark-fashion-fuchsia);
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

svg { 
  width: '1.25em'; 
  height: '1.25em';
}

@media screen and (min-width: 375px) {
  .container {
    display: grid;
    justify-content: center;
    align-content: flex-start;
    margin-top: 5em;
  }
  .todos {
   width: var(--small-screen);
  }
}